BasedOnStyle: Microsoft
IndentWidth: '4'
UseTab: Never
ColumnLimit: '170'
AccessModifierOffset: '-4'
SortIncludes: false
AllowShortBlocksOnASingleLine: Never
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
SpacesBeforeTrailingComments: 4
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
	BeforeLambdaBody: true
AllowShortLambdasOnASingleLine: None
AlignEscapedNewlines: Left